---
//base layout
import BaseLayout from '../layouts/BaseLayout.astro';

// import stylesheet
import '../styles/myStyles.css'

const pageTitle = 'My Homepage'
---
<BaseLayout pageTitle='Homepage'>

 	<p>Welcome to my Digital Garden.</p>

</BaseLayout>
